@page
@model Pizzeria.Pages.OrdersModel
@{
}
<h3>Orders</h3>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                PizzaName
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model.PizzaOrders)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <th>
                    @order.PizzaName
                </th>
                <th>
                    @order.BasePrice
                </th>
            </tr>
        }
    </tbody>
</table>